@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100vh;
  line-height: 1.6;
  margin: 0;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 5rem;
  font-weight: 100;
  margin: 1rem 0 2rem;
}

button {
  width: 130px;
  text-transform: uppercase;
  font-size: 13px;
  padding: 1rem;
  font-family: inherit;
  background-color: #ccc;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

button#start {
  background-color: lawngreen;
}

button#start:disabled {
  opacity: 0.3;
}

button#stop {
  background-color: rgb(255, 82, 38);
}

button#reset {
  background-color: rgb(252, 214, 0);
}

button:hover {
  opacity: 1;
}

button:not(:last-child) {
  margin-right: 0.8rem;
}

ul#theme {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul#theme li {
  display: inline-block;
  font-size: 1.5rem;
}

ul#theme li:not(:last-child) {
  margin-right: 10px;
}
